<div class="p-8">
  <button
    (click)="goBack()"
    class="mb-4 bg-gray-500 text-white px-3 py-1 rounded hover:bg-gray-600">
    Voltar
  </button>

  <h2 class="text-2xl font-bold mb-2">Detalhes do Funcionário</h2>
  <p><strong>Nome:</strong> {{ employee?.name }}</p>
  <p><strong>Cargo:</strong> {{ employee?.position }}</p>
  <p><strong>Data de Admissão:</strong> {{ employee?.Date }}</p>
  <p><strong>salario:</strong> {{ employee?.salario }}</p>
  <p><strong>Status:</strong> {{ employee?.status }}</p>
</div>
