<div class="max-w-lg mx-auto p-4">
  <form (ngSubmit)="onSubmit(cadastroForm)" #cadastroForm="ngForm" class="space-y-6">
    <h1 class="text-2xl font-bold mb-4 text-center">
      {{ isEditMode ? 'Editar Funcionário' : 'Cadastrar Funcionário' }}
    </h1>

    <div>
      <label for="name" class="block text-sm font-medium text-gray-700">Nome</label>
      <input
        id="name"
        name="name"
        type="text"
        [(ngModel)]="employee.name"
        required
        class="mt-1 block w-full px-4 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>

    <div>
      <label for="position" class="block text-sm font-medium text-gray-700">Cargo</label>
      <input
        id="position"
        name="position"
        type="text"
        [(ngModel)]="employee.position"
        required
        class="mt-1 block w-full px-4 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>

    <div>
      <label for="admissionDate" class="block text-sm font-medium text-gray-700">Data de Admissão</label>
      <input
        id="admissionDate"
        name="admissionDate"
        type="date"
        [ngModel]="employee.admissionDate | date:'yyyy-MM-dd'"
        (ngModelChange)="employee.admissionDate = $event"
        required
        class="mt-1 block w-full px-4 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>

    <div>
      <label for="wage" class="block text-sm font-medium text-gray-700">Salário</label>
      <input
        id="wage"
        name="wage"
        type="number"
        [(ngModel)]="employee.wage"
        required
        step="0.01"
        class="mt-1 block w-full px-4 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>

    <div>
      <label for="isActive" class="block text-sm font-medium text-gray-700">Status</label>
      <select
        id="isActive"
        name="isActive"
        [(ngModel)]="employee.isActive"
        required
        class="mt-1 block w-full px-4 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
      <option [ngValue]="true">Ativo</option>
      <option [ngValue]="false">Inativo</option>
      </select>
    </div>

    <div class="flex justify-between">
      <button
        (click)="back()"
        class="px-6 py-2 bg-blue-500 text-white font-medium rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
      <i class="fas fa-arrow-left mr-2"></i>
        Voltar
      </button>
      <button
        type="submit"
        [disabled]="!cadastroForm.valid"
        class="px-6 py-2 bg-blue-500 text-white font-medium rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
      <i class="fas fa-save mr-2"></i>
      {{ isEditMode ? 'Atualizar' : 'Cadastrar' }}
      </button>
    </div>
  </form>
</div>
